<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Automotive News</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <div class="articles">
                {{#each article}}
                <h4>{{title}}</h4><p>{{body}}</p><a href="{{link}}" target='_blank'>{{link}}</a> <br /> <button data-id="{{_id}}" type='button' class='btn btn-primary'>Add Note</button>
                {{/each}}
            </div>
        </div>
        <div class="col-3">
            <div id="notes"></div>
        </div>
    </div>
</div>